<div class="card mat-card" id="acerca_de">
    <div id="header_skill">
        <h2>Skills</h2>
        <div class="ms-auto " *ngIf="this.authService.isLogIn()">
        <i *ngIf="!open_add_skill_flag; else minus" class="fa fa-plus ms-auto " (click)="openAddSkill()"></i>

        <ng-template #minus> <i class="fa fa-minus ms-auto " (click)="openAddSkill()"></i> </ng-template>
</div>

    </div>

    <div *ngIf="open_add_skill_flag">
        <app-add-skill (onAddSkill)="onAddSkill($event)">
        </app-add-skill>
    </div>

    <div *ngIf="open_edit_skill_flag">
        <app-edit-skill [skill_to_edit]="skill_to_edit" (onEditSkill)="onEditSkill($event)">

        </app-edit-skill>
    </div>
    <div class="grid-container" id="skills_items_container">
        <div *ngFor="let skill of skills">

            <div id="skill_card">
                <div class="item">
                    {{skill.nombre}}
                </div>
                <div class="item nivel">
                    {{skill.nivel}}
                </div>
                <div id="iconos" *ngIf="this.authService.isLogIn()">
                    <i class="fa fa-edit" (click)="openEditSkill(skill)"></i>

                    <i class="fa fa-trash" (click)="onDeleteSkill(skill)"></i>
                </div>
            </div>
        </div>
    </div>
</div>