<div class="card mat-card" id="acerca_de">
    <h2>Acerca de</h2>
    <p>Hola soy Mariano y no, esta no es mi Trayectoria Educativa, Experiencias Laborales ni Skills,
        es una muestra de como pueden persistir registros en una base de datos online. Si queres descargar mi 
        <span><a class="download_cv" id="download_cv"  href="https://drive.google.com/file/d/1T2JBA2khSc2NydagplH-Lao72ozraQTi/view?usp=sharing" target="_blank" download>CV</a></span>
        verdadero hace click 
        <span><a class="download_cv" id="download_cv"  href="https://drive.google.com/file/d/1T2JBA2khSc2NydagplH-Lao72ozraQTi/view?usp=sharing" target="_blank" download>ACÁ</a></span>
    </p>
    <p>
        ¿Queres probar añadir, editar o borrar algo? Logueate con estas credenciales:
    </p>
    <div id="credenciales_login">
        <label for="user">Usuario: user@email.com</label> <br>
        <label for="pass">Contraseña: @123Pass</label>
    </div>
</div>
