<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="form-control">
        <label class="form-label" for="empresa">Empresa</label>
        <input type="text" name="empresa" id="empresa" formControlName="empresa">
           <div *ngIf="Empresa?.errors  && Empresa?.touched">
        <p *ngIf="Empresa?.hasError('required')" class="error">
            Empresa required.
        </p>
    </div>
        <label class="form-label" for="puesto">Puesto</label>
        <input type="text" name="puesto" id="puesto" formControlName="puesto">
        <div *ngIf="Puesto?.errors  && Puesto?.touched">
            <p *ngIf="Puesto?.hasError('required')" class="error">
                Se debe poner puesto.
            </p>
        </div>
        <label class="form-label" for="desde">Desde</label>
        <input type="text" name="desde" id="desde" formControlName="desde">
        <div *ngIf="Desde?.errors  && Desde?.touched">
            <p *ngIf="Desde?.hasError('required')" class="error">
                Agregar fecha de inicio.
            </p>
            <p *ngIf="Desde?.errors?.['minlength']" class="error">
                Solo año "YYYY".
            </p>
            <p *ngIf="Desde?.errors?.['maxlength']" class="error">
                Solo año "YYYY".
            </p>
        </div>
        <label class="form-label" for="hasta">Hasta</label>
        <input type="text" name="hasta" id="hasta" formControlName="hasta">
        <div *ngIf="Hasta?.errors  && Hasta?.touched">
            <p *ngIf="Hasta?.hasError('required')" class="error">
                Agragar fecha de finalización.
            </p>
            <p *ngIf="Hasta?.errors?.['minlength']" class="error">
                Solo año "YYYY".
            </p>
            <p *ngIf="Hasta?.errors?.['maxlength']" class="error">
                Solo año "YYYY".
            </p>
        </div>
        
        <button class="btn btn-outline-success" type="submit">Guardar</button>

    </div>
</form>
