#header_trayecto{
    display: flex;
    flex-flow: row nowrap;
}
#header_trayecto i{
    margin: 2vh 5vh 0 0;
    font-size: 1.5rem;

}
#iconos i {
    margin: 0.5vh;
}
@media only screen and (max-width: 576px) {
    #header_trayecto i{
        margin: 1vh 1vh 0 0;
        font-size: 1.3rem;
    
    }
 
    }