<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Mariano Puchetta Portfolio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active ms-5" href="#" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Redes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a href="mailto:marianopuchetta@gmail.com" target="_blank">
                                    <i class="fa fa-envelope"></i> Mail</a></li>
                            <li><a href="https://www.github.com/" target="_blank"><i
                                        class="fa fa-github"></i> Github</a></li>
                            <li><a href="https://www.linkedin.com/in/marianopuchetta/" target="_blank"><i
                                        class="fa fa-linkedin"></i> Linkedin</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active ms-5" href="#" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i  aria-hidden="true">CV</i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a href="https://drive.google.com/file/d/10zFMmyCySz5mcF5twqzpuPc8Y1qJn0DB/view?usp=sharing" target="_blank" download>
                                    <i class="fa fa-cv"></i>CV</a></li>                            
                        </ul>
                    </li>
                </ul>
                <a class="ms-auto" routerLink="/login"><button class="btn btn-outline-success ms-auto" type="submit">Login</button></a>

            </div>
        </div>
    </nav>
</header>
<section>
    <router-outlet></router-outlet>  
</section>

  <footer>
    <div>
        <a href="mailto:marianopuchetta@gmail.com" target="_blank">
            <i class="fa fa-envelope"></i>
        </a>
        <a href="https://github.com/marianopuchetta" target="_blank">
            <i class="fa fa-github"></i>
        </a>
        <a href="https://linkedin.com/in/marianopuchetta" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
    </div>
</footer>


</div>