<div id="login_form">
<form [formGroup]="form" (ngSubmit)="onSend($event)">
    <div *ngIf="error_login" class="error">
        <p>USUARIO O CONTRASEÑA INCORRECTO</p>
    </div>
    <div>
        <label class="form-label" for="username">username: </label>
        <input class="form-control" type="username" formControlName="username">
    </div>
    <!-- Gracias al getter que configuramos en el controlador -->
    <div *ngIf="Mail?.errors  && Mail?.touched">
        <p *ngIf="Mail?.hasError('required')" class="error">
            username required.
        </p>
        <p *ngIf="Mail?.hasError('username')" class="error">
            username format must be valid.
        </p>
    </div>

    <br />
    <div>
        <label for="exampleInputPassword1" class="form-label">Password: </label>
        <input class="form-control" type="password" formControlName="password" [class.border-danger]="MailValid">
    </div>
    <!-- Gracias al getter que configuramos en el controlador -->
    <div *ngIf="Password?.errors  && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="error">
            Password required.
        </p>
        <p *ngIf="Password?.errors?.['minlength']" class="error">
            The password must be 8 or more characters.
        </p>
    </div>
    <br />
    <div>
        <button class="btn btn-outline-success" type="submit" >Login</button>
     </div>   
    
</form>
</div>
