#login_form{
    border: 1px solid black;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    margin: 15vh 0;
    padding: 5vh;
}
.error{
    color: red;
}
@media only screen and (max-width: 576px) {
    #login_form{
        margin: 10vh 0;
        padding: 8vh;
    } 
   
    }