<div class="card mat-card" id="first-card">
    <div id="profile-background"><img src="assets/images/studio-background-concept.jpg" alt="imagen de fondo">
    </div>
    <div id="info">
        <div id="info-img">
            <img id="profile-image" src="assets/images/20201004_223013.jpg" alt="imagen de perfil">
        </div>
        <div id="info-data">
            <div id="info-nombre">
                <h1>Mariano Puchetta </h1>
            </div>
            <div id="info-titulo">
                <h2>Developer Backend</h2>
            </div>
        </div>
      
    </div>
</div>
