<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="form-control">
        <input type="hidden" name="id" id="id"  [ngModel]="skill_to_edit?.id" formControlName="id">

        <label class="form-label" for="nombre">Skill</label>
        <input type="text" name="nombre" id="nombre"  [(ngModel)]="skill_to_edit.nombre" formControlName="nombre">
           <div *ngIf="nombre?.errors  && nombre?.touched">
        <p *ngIf="nombre?.hasError('required')" class="error">
            Skill.
        </p>
    </div>
        <label class="form-label" for="nivel">Nivel</label>
        <input type="text" name="nivel" id="nivel" [(ngModel)]="skill_to_edit.nivel" formControlName="nivel">
        <div *ngIf="nivel?.errors  && nivel?.touched">
            <p *ngIf="nivel?.hasError('required')" class="error">
                Se debe poner nivel.
            </p>
        </div>       
        <button class="btn btn-outline-success" type="submit">Guardar</button>
    </div>
</form>